TODO.md
raw-results/
dependencies/
.zsim-env
experiments/*/results/generated/
experiments/*/test-raw/
benchmarks/ptr_chase/array.dat
benchmarks/ptr_chase/loop.h
benchmarks/ptr_chase/arraygen
benchmarks/ptr_chase/ptr_chase
benchmarks/traffic_gen/build/
benchmarks/traffic_gen/traffic_gen.x
.DS_Store
._*
*.tar
*.tar.gz
*.tgz
__pycache__/
.venv/
test-output/
**/*.dep
**/*.deppo
**/*.po